


/* Seccion Skills*/
.skills {
   
    width: 85%;
    height: 250px;
    margin: 0 auto;
    margin-top: 20px;
}

.titulo_skills {
    font-size: 2em;
    text-transform: uppercase;
    font-weight: 700;
    font-family: var(--fuente-letras);
    text-shadow: var(--sombra-texto);
    text-align: center;
}

.caja_skills {
   
    margin-top: 20px;
    margin-bottom: 20px;

    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(6, 16.5%);
    grid-template-rows: 245px;
}

.caja_skills_icon {
    
    background: #fff;
    height: 70%;
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bi-filetype-html {
    width: 50px;
    height: 50px;
    color: var(--color-iconos)
}

.texto_html {
    font-size: 1em;
    font-weight: bold;
    font-family: var(--fuente-letras);
    color: var(--color-letras);
}



/* Seccion Hobies*/
.hobbies {
    
    margin-top: 80px;
    width: 85%;
    height: 245px;
    margin: 0 auto;
    margin-top: 90px;
    
}







@media (max-width: 768px) {
    
    .skills {
        height: 500px;
    }
    .hobbies {
        height: 500px;
    }

    .caja_skills {
   
        display: grid;
        grid-template-columns: repeat(3, 33%);
        grid-template-rows: 200px 200px;
    }


}

